<app-page-title ></app-page-title>

<div class="mb-3 card">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <!-- <div class="page-title-icon">
          <i class="icon {{icon}}"></i>
        </div>
        <div>
          {{heading}}
          <div
            class="page-title-subheading">
            {{subheading}}
          </div>
        </div> -->
        <ul  class="nav dashboard-main-tabs nav-pills">
          <li>
            <a (click)="onclick('overview')" [class]="'overview-tab-'+overview" data-toggle="tab">Overview</a>
          </li>
          <li>
            <a (click)="onclick('account')" [class]="'account-tab-'+accounts" data-toggle="tab">Accounts</a>
          </li>
          <li>
            <a (click)="onclick('setting')" [class]="'setting-tab-'+setting" data-toggle="tab">Settings</a>
          </li>
        </ul>
      </div>
      <div class="page-title-actions">
        <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-dark" routerLink="./addBusinessPartner">
          <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
          Generate Portal
        </button>
      </div>
    </div>
  </div>
  
  <div class="g-0 row">
    <!-- <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
          <i class="pe-7s-album text-white opacity-8"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Cash Deposits</div>
          <div class="widget-numbers">1,7M</div>
          <div class="widget-description opacity-8 ">
            <div class="d-inline text-danger pe-1">
              <fa-icon [icon]="faAngleDown"></fa-icon>
              <span class="ps-1">54.1%</span>
            </div>
            less earnings
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div> -->
    <!-- <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
          <i class="pe-7s-portfolio text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Invested Dividents</div>
          <div class="widget-numbers"><span>9M</span></div>
          <div class="widget-description opacity-8 ">
            Grow Rate:
            <span class="text-info ps-1">
              <fa-icon [icon]="faAngleDown"></fa-icon>
                <span class="ps-1">14.1%</span>
            </span>
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div> -->
    <!-- <div class="col-sm-12 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-success"></div>
          <i class="pe-7s-light text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Capital Gains</div>
          <div class="widget-numbers text-success"><span>$563</span></div>
          <div class="widget-description ">
            Increased by
            <span class="text-warning ps-1">
              <fa-icon [icon]="faAngleUp"></fa-icon>
                <span class="ps-1">7.35%</span>
            </span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="tab-pane active" *ngIf="overviewcontainer" id="OverviewApp">
      
      <app-regular></app-regular>
    </div>
    <div class="tab-pane active" *ngIf="accountscontainer" id="AccountsApp">
      <app-bubble-chart></app-bubble-chart>
    </div>
    <div class="tab-pane active" *ngIf="settingcontainer" id="SettingsApp">
      <app-chart-boxes3></app-chart-boxes3>
    </div>
  </div>
  <div class="text-center d-block p-3 card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg">
      <span class="me-2 opacity-7">
        <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
      </span>
      <span class="me-1">View Complete Report</span>
    </button>
  </div>
</div>

