@import '~bs-stepper\dist\css\bs-stepper.min.css';
@import '../../../../assets/components/bootstrap5/variables';
.bs-stepper-header{
    display: flex;
    align-items: center;
    flex-flow: column !important;
}

#stepper1{
    display: flex;
    &.bs-stepper{
        .bs-stepper-header{
                .step {
                    .step-trigger{
                        padding: 0px 0px;
                        width: 216px !important;
                        align-items: center;
                        justify-content: flex-start;
                        .bs-stepper-circle{
                            background-color: $default-stepper-circle !important;
                        }
                    }
                    &.active{
                        .bs-stepper-circle{
                            background-color: $default-stepper-circle !important;
                            .bi{
                                color: $gray-700;
                            }
                        }
                    }
                }
                .line{
                    margin: 0px auto 0px 20px;
                    background-color: transparent;
                    display: flex;
                    width: 1px !important;
                    height: 20px !important;
                    flex: none !important;
                    border: 1px dashed $default-stepper-circle;
                }
            background-color: $default-stepper-background;
            border-radius: ($spacer * 0.4);
            height: 100%;
            padding: ($spacer * 1.2);
        }
        .bs-stepper-content{
            display: flex;
        }
    }
}
.addbusshow{
    display: block;
}
.addbushide{
    display: none !important;
}
.addBusiness-Partner{
    margin: 0px auto;
    .addBusinessPartner{
        background-color: $default-theme-background;
        border-radius: ($spacer * 0.4);
        padding: ($spacer * 1.2);
        .business-partner-title{
            border-bottom: 1px solid $gray-500;
            .business-partner-title-section{
                .add-user-partner{
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: $add-user-businesspartner;
                }
            }
            .business-partner-body-section{
                .addbusiness-back-btn{
                    border: 1px solid $default-theme-button;
                    border-radius: ($spacer * 0.4);
                    width: ($spacer * 4.7);
                }
                .addbusiness-next-btn{
                    background-color: $default-theme-button;
                    border-radius: ($spacer * 0.4);
                    color: $white;
                    width: ($spacer * 4.7);
                }
            }
        }
        .business-partner-content{
            .business-partner-body{
                .radioGroup{
                    display: flex;
                    input[type="radio"]{
                        display: flex;
                    }
                }
            }
            background-color: $white;
            border-radius: ($spacer * 0.4);
        }
    }
}
