<div class="container-fluid">
    <div class="row mb-10">
        <div class="col-md-12 myInsurance_create_new_plan_heading">
            <!-- <p>Manage Plans > <strong>Create New Plan</strong></p> -->
            <div class="links">
                <span class="about-mute"><a class="ManagePlans" href="ManagePlans">Manage Plans</a><span> <strong>>
                            Create New Plan</strong></span></span>
            </div>
        </div>

    </div>
    <div class="create-plan-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 myInsurance_create_new_plan_heading-2">
                    <p><b>Create New Plan</b></p>
                    <span>To create product plan that prioritizes accessibility by providing comprehensive coverage that
                        meets user’s unique
                        needs, </span>
                    <span> define and configure the product first.</span>
                </div>
            </div>
        </div>
        <section class="create_new_plan_section_one">
            <div class="row">
                <div class="col-md-12">
                    <div class="myInsurance_create_new_plantitle">
                        <img src="assets/images/CNP_Title.png" alt="">
                        <p><b> Plan Details</b> </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>