<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- <p>Manage Plans > <strong>Create New Plan</strong></p> -->
            <div class="links">
                <span class="about-mute"><a class="ManagePlans" href="ManagePlans">Manage Plans</a><span> <strong>>
                            Create New Plan</strong></span></span>
            </div>
        </div>

    </div>
    <div class="create-plan-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><b>Create New Plan</b></p>
                    <span>To create product plan that prioritizes accessibility by providing comprehensive coverage that
                        meets user’s unique
                        needs, </span>
                    <span> define and configure the product first.</span>
                </div>
            </div>
        </div>
    </div>
</div>