@import '../../../../../assets/components/bootstrap5/variables';

.create-plan-wrapper {
    margin-top: ($spacer * 1);
    padding: 0px 90px;

    .create_new_plan_section_one {
        margin-top: ($spacer * 3);
    }

}

.myInsurance_create_new_plan_heading .links {
    font-family: Roboto;
}

.myInsurance_create_new_plan_heading-2 p {
    font-family: Roboto;
}

.myInsurance_create_new_plan_heading-2 span {
    font-family: Roboto;
}

.myInsurance_create_new_plantitle {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
        margin: 0px;
        color: #000;
        font-family: Space Grotesk;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.22px;
    }

    img {
        width: 20px;
        height: 20px;
    }
}