// Header Base
@import '../../components/bootstrap5/variables';
.app-header {
  height: $app-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 10;
  transition: all .2s;
  position: fixed;
  width: 100%;
  padding: 0% 20px;

  .logo-src {
    display: block;
  }

  &.header-shadow {
    box-shadow: $box-shadow-default;
  }

  .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding-left: 0;
    justify-content: space-between;
    height: auto;
    transition: all .2s;
    flex-flow: row-reverse;
    .app-header-left {
      display: flex;
      align-items: center;
      padding: 0 0 0 $layout-spacer-x;
      .header-main-menu{
        display: flex;
        gap:$gap-20;
        margin: 0;
        padding: 0px 20px;
        li{
          list-style: none !important;
          display: flex;
          align-items: center;
          text-wrap: nowrap;
        }
        .meain-menu-dash{
          display: flex;
          padding: 0;
          color: #033C73 !important;
          background: none !important;
          &:hover{
            background: none !important;
            text-decoration: underline !important;
          }
          @media only screen and (min-width: 320px) and (max-width: 900px)  {
            flex-flow: column !important;
            width: 100%;
          }
        }
        .submenu {
          transition: 300ms ease-in-out;
          position: absolute;
          padding: 0;
          padding: 10px 10px;
          top: 70%;
          background-color: $dropdown-menu-bg;
          li{
            list-style: none;
            padding: 10px 10px !important;
            &:focus,&:hover {
              color: #1e2125;
              background-color: #d1f3ff;
              background-image: var(--bs-gradient);
              @media only screen and (min-width: 320px) and (max-width: 900px)  {
                flex-flow: column !important;
              }
            }
            a{
              padding: 0;
              &:focus,&:hover {
                color: #1e2125;
                background-color: transparent !important;
                background-image: none !important;
              }
            }
          }
        }
        .secondsubmenu{
          transition: 300ms ease-in-out;
          display: none;
          position: absolute;
          padding: 0;
          padding: 10px 10px;
          left: 100%;
          top: 50%;
          background-color: $dropdown-menu-bg;
          li{
            list-style: none;
            padding: 10px 10px !important;
            &:focus,&:hover {
              color: #1e2125;
              background-color: #d1f3ff;
              background-image: var(--bs-gradient);
            }
            a{
              &:focus,&:hover {
                color: #1e2125;
                background-color: transparent !important;
                background-image: none !important;
              }
            }
          }
        }
        .dropdown-menu{
          box-shadow: none;
          border: 0;
          padding: 0;
          display: none;
          width: auto;
          margin: 0;
          min-width: auto;
          &::after{
            display: none !important;
          }
        }
        @media only screen and (min-width: 320px) and (max-width: 900px)  {
          flex-flow: column !important;
        } 
      }
      app-search-box{
        .search-wrapper.active{
          @media only screen and (min-width: 320px) and (max-width: 900px)  {
            width: 100% !important;
          }
          .input-holder{
            @media only screen and (min-width: 320px) and (max-width: 900px)  {
              width: 100% !important;
            }
          }
        }
        @media only screen and (min-width: 320px) and (max-width: 900px)  {
          flex-flow: column !important;
        }
      }
    }

    .app-header-right {
      align-items: center;
      display: flex;
      padding: 0 $layout-spacer-x 0 0;
    }
  }
  
  .header-user-info {
    & > .widget-heading,
    & > .widget-subheading {
      white-space: nowrap;
    }

    & > .widget-subheading {
      font-size: $font-size-xs;
    }
  }
}

.app-header__menu,
.app-header__mobile-menu {
  display: none;
  padding: 0 $layout-spacer-x;
  height: $app-header-height;
  align-items: center;
}

// Modifiers

@import "modifiers/header-dots";
@import "modifiers/header-userarea";

// Header Themes

@import "themes/header-light";
@import "themes/header-dark";
