<div class="app-footer">
  <div class="app-footer__inner d-flex flex-flow-column align-items-baseline gap-20 pt-15 pb-15">
    <div class="footer-inner-top d-flex align-item-center justify-content-space-between justify-content-space-center w-100">
      <div class="app-footer-left">
        <span class="quantique-logo-footer"></span>
      </div>
      <div class="app-footer-right d-flex gap-20">
        <span class="facebook-icon"></span>
        <span class="youtube-icon"></span>
        <span class="insta-icon"></span>
        <span class="email-icon"></span>
      </div>
    </div>
    <div class="footer-inner-bottom">
      <div class="footer-link d-flex flex-flow-column">
        <h4>Quick Links</h4>
        <div class="footer-link-set d-flex">
          <a href="#">Home</a>
          <a href="#">About Us</a>
          <a href="#">Services</a>
          <a href="#">Industries</a>
          <a href="#">Contact Us</a>
          <a href="#">Blog</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="footer-copy-right w-100 ">
      <div class="copy-right-text w-100 d-flex align-item-center justify-content-center pt-10 pb-10">
        Copyright © 2023 QUANTIQUE METADATA PRIVATE LIMITED
      </div>
    </div>
  </div>
</div>
